--
-- PostgreSQL database dump
--

\restrict cqcunPCcHknqkg9GIYOOE94e2wOz1ahRNLzdhRumkIMdV4XsH9uAJbioOlofgi2

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: career_preferences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.career_preferences (
    created_at timestamp(6) without time zone,
    field_id bigint,
    id bigint NOT NULL,
    topic_id bigint,
    updated_at timestamp(6) without time zone,
    user_id bigint
);


--
-- Name: career_preferences_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.career_preferences ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.career_preferences_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: career_preferences career_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.career_preferences
    ADD CONSTRAINT career_preferences_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict cqcunPCcHknqkg9GIYOOE94e2wOz1ahRNLzdhRumkIMdV4XsH9uAJbioOlofgi2

