--
-- PostgreSQL database dump
--

\restrict 9bj2UJ0VtT6GQX7wjrIZ4DCj9Y30gjlTYzW1BBaLEPnFiUQZarEtLuWv4DNHklg

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: exam_questions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.exam_questions (
    id bigint NOT NULL,
    order_number integer,
    question_id bigint,
    exam_id bigint
);


--
-- Name: exam_questions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.exam_questions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.exam_questions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: exam_registrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.exam_registrations (
    id bigint NOT NULL,
    registered_at timestamp(6) without time zone,
    registration_status character varying(255),
    user_id bigint,
    exam_id bigint
);


--
-- Name: exam_registrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.exam_registrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.exam_registrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: exams; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.exams (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    created_by bigint,
    duration integer,
    end_time timestamp(6) without time zone,
    exam_type character varying(255),
    field_id bigint,
    language character varying(255),
    level_id bigint,
    "position" character varying(255),
    question_count integer,
    start_time timestamp(6) without time zone,
    status character varying(255),
    title character varying(255),
    user_id bigint,
    topic_ids character varying(255),
    question_type_ids character varying(255)
);


--
-- Name: exams_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.exams ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.exams_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: results; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.results (
    id bigint NOT NULL,
    completed_at timestamp(6) without time zone,
    feedback character varying(255),
    pass_status boolean,
    score double precision,
    user_id bigint,
    exam_id bigint
);


--
-- Name: results_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.results ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.results_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_answers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_answers (
    id bigint NOT NULL,
    answer_content text,
    created_at timestamp(6) without time zone,
    is_correct boolean,
    question_id bigint,
    similarity_score double precision,
    user_id bigint,
    exam_id bigint
);


--
-- Name: user_answers_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.user_answers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_answers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: exam_questions exam_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.exam_questions
    ADD CONSTRAINT exam_questions_pkey PRIMARY KEY (id);


--
-- Name: exam_registrations exam_registrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.exam_registrations
    ADD CONSTRAINT exam_registrations_pkey PRIMARY KEY (id);


--
-- Name: exams exams_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.exams
    ADD CONSTRAINT exams_pkey PRIMARY KEY (id);


--
-- Name: results results_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.results
    ADD CONSTRAINT results_pkey PRIMARY KEY (id);


--
-- Name: user_answers user_answers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_answers
    ADD CONSTRAINT user_answers_pkey PRIMARY KEY (id);


--
-- Name: exam_questions fk5cd6sjmccb11rrwpyabyc81c0; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.exam_questions
    ADD CONSTRAINT fk5cd6sjmccb11rrwpyabyc81c0 FOREIGN KEY (exam_id) REFERENCES public.exams(id);


--
-- Name: user_answers fk9efuavaa7y69wswnxjubv0ss3; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_answers
    ADD CONSTRAINT fk9efuavaa7y69wswnxjubv0ss3 FOREIGN KEY (exam_id) REFERENCES public.exams(id);


--
-- Name: results fkeow9kom5hrbhv6jhq82bqe68k; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.results
    ADD CONSTRAINT fkeow9kom5hrbhv6jhq82bqe68k FOREIGN KEY (exam_id) REFERENCES public.exams(id);


--
-- Name: exam_registrations fkohhjxlu7wyw1xdi33gjou4v0u; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.exam_registrations
    ADD CONSTRAINT fkohhjxlu7wyw1xdi33gjou4v0u FOREIGN KEY (exam_id) REFERENCES public.exams(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 9bj2UJ0VtT6GQX7wjrIZ4DCj9Y30gjlTYzW1BBaLEPnFiUQZarEtLuWv4DNHklg

