--
-- PostgreSQL database dump
--

\restrict NCphUviNlHoaUHwJAQb0wMViZwvsUfUmNMNSOzwDenHIO8vUp49etElxHQyglSN

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: news; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.news (
    id bigint NOT NULL,
    application_method character varying(255),
    approved_by bigint,
    company_name character varying(255),
    content text,
    created_at timestamp(6) without time zone,
    deadline character varying(255),
    exam_id bigint,
    experience character varying(255),
    expired_at timestamp(6) without time zone,
    field_id bigint,
    interest_vote integer,
    location character varying(255),
    news_type character varying(255),
    "position" character varying(255),
    published_at timestamp(6) without time zone,
    salary character varying(255),
    status character varying(255),
    title character varying(255),
    useful_vote integer,
    user_id bigint,
    working_hours character varying(255)
);


--
-- Name: news_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.news ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.news_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: news news_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict NCphUviNlHoaUHwJAQb0wMViZwvsUfUmNMNSOzwDenHIO8vUp49etElxHQyglSN

