--
-- PostgreSQL database dump
--

\restrict YfSQa2BgcfebdgZpxxDwM2wmE2dXuw7hux2cZPuwDoatFuQAYsXiVWePEHph8W6

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: answers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.answers (
    id bigint NOT NULL,
    content text,
    created_at timestamp(6) without time zone,
    is_correct boolean,
    is_sample_answer boolean,
    order_number integer,
    similarity_score double precision,
    unuseful_vote integer,
    useful_vote integer,
    user_id bigint,
    question_id bigint,
    question_type_id bigint
);


--
-- Name: answers_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.answers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.answers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: fields; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.fields (
    id bigint NOT NULL,
    description character varying(255),
    name character varying(255)
);


--
-- Name: fields_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.fields ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fields_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: levels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.levels (
    id bigint NOT NULL,
    description character varying(255),
    max_score integer,
    min_score integer,
    name character varying(255)
);


--
-- Name: levels_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.levels ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.levels_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: question_types; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.question_types (
    id bigint NOT NULL,
    description character varying(255),
    name character varying(255)
);


--
-- Name: question_types_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.question_types ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.question_types_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: questions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.questions (
    id bigint NOT NULL,
    approved_at timestamp(6) without time zone,
    approved_by bigint,
    created_at timestamp(6) without time zone,
    language character varying(255),
    question_answer text,
    question_content text,
    similarity_score double precision,
    status character varying(255),
    unuseful_vote integer,
    useful_vote integer,
    user_id bigint,
    field_id bigint,
    level_id bigint,
    question_type_id bigint,
    topic_id bigint
);


--
-- Name: questions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.questions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.questions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: topics; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.topics (
    id bigint NOT NULL,
    description character varying(255),
    name character varying(255),
    field_id bigint
);


--
-- Name: topics_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.topics ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.topics_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: answers answers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT answers_pkey PRIMARY KEY (id);


--
-- Name: fields fields_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fields
    ADD CONSTRAINT fields_pkey PRIMARY KEY (id);


--
-- Name: levels levels_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.levels
    ADD CONSTRAINT levels_pkey PRIMARY KEY (id);


--
-- Name: question_types question_types_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.question_types
    ADD CONSTRAINT question_types_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: topics topics_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.topics
    ADD CONSTRAINT topics_pkey PRIMARY KEY (id);


--
-- Name: answers fk3erw1a3t0r78st8ty27x6v3g1; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT fk3erw1a3t0r78st8ty27x6v3g1 FOREIGN KEY (question_id) REFERENCES public.questions(id);


--
-- Name: questions fk8pc495t80b42wtu5xyxeef89y; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT fk8pc495t80b42wtu5xyxeef89y FOREIGN KEY (field_id) REFERENCES public.fields(id);


--
-- Name: questions fkd1eetxmrbe1x2sjff43j4qyp0; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT fkd1eetxmrbe1x2sjff43j4qyp0 FOREIGN KEY (level_id) REFERENCES public.levels(id);


--
-- Name: questions fkdb5p6ukb0v76he4pq87cbymhg; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT fkdb5p6ukb0v76he4pq87cbymhg FOREIGN KEY (topic_id) REFERENCES public.topics(id);


--
-- Name: questions fkdyyji0ey6u2yifjdt8ybu3tyw; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT fkdyyji0ey6u2yifjdt8ybu3tyw FOREIGN KEY (question_type_id) REFERENCES public.question_types(id);


--
-- Name: topics fkpgw0524gmtqpj34k0qgd4jgi5; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.topics
    ADD CONSTRAINT fkpgw0524gmtqpj34k0qgd4jgi5 FOREIGN KEY (field_id) REFERENCES public.fields(id);


--
-- Name: answers fkrnxiox1ww7x1v60j6oagjxjm5; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT fkrnxiox1ww7x1v60j6oagjxjm5 FOREIGN KEY (question_type_id) REFERENCES public.question_types(id);


--
-- PostgreSQL database dump complete
--

\unrestrict YfSQa2BgcfebdgZpxxDwM2wmE2dXuw7hux2cZPuwDoatFuQAYsXiVWePEHph8W6

