--
-- PostgreSQL database dump
--

\restrict htwpJ6bKfoC95SIJIj3DZosnQbDJExszqUiI3v9kjbcfAPVEHkGULj4t5P1zQDT

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: comment_votes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.comment_votes (
    id bigint NOT NULL,
    comment_id bigint,
    user_id bigint,
    voted_at timestamp(6) without time zone,
    vote_type character varying(255) DEFAULT 'USEFUL'::character varying NOT NULL,
    vote_weight double precision DEFAULT 1.0 NOT NULL
);


--
-- Name: COLUMN comment_votes.vote_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.comment_votes.vote_type IS 'Type of vote: USEFUL or NOT_USEFUL';


--
-- Name: COLUMN comment_votes.vote_weight; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.comment_votes.vote_weight IS 'Weight of vote based on user ELO rank at time of voting';


--
-- Name: comment_votes_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.comment_votes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comment_votes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.comments (
    id bigint NOT NULL,
    content text,
    created_at timestamp(6) without time zone,
    post_id bigint,
    user_id bigint,
    vote_count integer,
    weighted_vote_score double precision DEFAULT 0.0,
    edit_count integer DEFAULT 0,
    updated_at timestamp without time zone
);


--
-- Name: COLUMN comments.weighted_vote_score; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.comments.weighted_vote_score IS 'Sum of all weighted votes (useful adds, not useful subtracts)';


--
-- Name: COLUMN comments.edit_count; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.comments.edit_count IS 'Number of times this comment has been edited';


--
-- Name: COLUMN comments.updated_at; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.comments.updated_at IS 'Timestamp of last edit';


--
-- Name: comments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.comments ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


--
-- Name: posts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.posts (
    id bigint NOT NULL,
    content text,
    created_at timestamp(6) without time zone,
    lock_time timestamp(6) without time zone,
    title character varying(255),
    updated_at timestamp(6) without time zone,
    user_id bigint,
    field_id bigint,
    topic_id bigint,
    level_id bigint,
    post_type character varying(20) DEFAULT 'DISCUSSION'::character varying,
    status character varying(20) DEFAULT 'PUBLISHED'::character varying
);


--
-- Name: COLUMN posts.field_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.posts.field_id IS 'Reference to field/category ID from another service';


--
-- Name: COLUMN posts.topic_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.posts.topic_id IS 'Reference to topic ID from another service';


--
-- Name: COLUMN posts.level_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.posts.level_id IS 'Optional reference to difficulty level ID';


--
-- Name: COLUMN posts.post_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.posts.post_type IS 'Type of post: DISCUSSION or QUESTION';


--
-- Name: COLUMN posts.status; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.posts.status IS 'Post status: DRAFT, PUBLISHED, or LOCKED';


--
-- Name: posts_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.posts ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.posts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comment_votes comment_votes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comment_votes
    ADD CONSTRAINT comment_votes_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: posts posts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_pkey PRIMARY KEY (id);


--
-- Name: comment_votes ukr1gqm67g4iue6lxgjqb24yix9; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comment_votes
    ADD CONSTRAINT ukr1gqm67g4iue6lxgjqb24yix9 UNIQUE (comment_id, user_id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_comments_post_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_comments_post_user ON public.comments USING btree (post_id, user_id);


--
-- Name: idx_comments_post_weighted_score; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_comments_post_weighted_score ON public.comments USING btree (post_id, weighted_vote_score DESC, created_at);


--
-- Name: idx_posts_field; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_posts_field ON public.posts USING btree (field_id);


--
-- Name: idx_posts_post_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_posts_post_type ON public.posts USING btree (post_type);


--
-- Name: idx_posts_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_posts_status ON public.posts USING btree (status);


--
-- Name: idx_posts_topic; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_posts_topic ON public.posts USING btree (topic_id);


--
-- Name: idx_posts_user_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_posts_user_status ON public.posts USING btree (user_id, status);


--
-- PostgreSQL database dump complete
--

\unrestrict htwpJ6bKfoC95SIJIj3DZosnQbDJExszqUiI3v9kjbcfAPVEHkGULj4t5P1zQDT

