--
-- PostgreSQL database dump
--

\restrict HLHw3eeLPJAopJXNK4zcgQh4L5q9nflK3UWGCNVe1QUcw0CHqH9fGNZjzpbg0AP

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: elo_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.elo_history (
    points integer NOT NULL,
    created_at timestamp(6) without time zone,
    id bigint NOT NULL,
    user_id bigint,
    action character varying(255),
    description character varying(255)
);


--
-- Name: elo_history_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.elo_history ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.elo_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    description character varying(255),
    role_name character varying(255) NOT NULL,
    CONSTRAINT roles_role_name_check CHECK (((role_name)::text = ANY ((ARRAY['USER'::character varying, 'RECRUITER'::character varying, 'ADMIN'::character varying])::text[])))
);


--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.roles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    date_of_birth date,
    elo_score integer,
    is_studying boolean,
    created_at timestamp(6) without time zone,
    id bigint NOT NULL,
    role_id bigint,
    full_name character varying(100),
    address character varying(255),
    elo_rank character varying(255),
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    status character varying(255),
    verify_token character varying(255),
    CONSTRAINT users_elo_rank_check CHECK (((elo_rank)::text = ANY ((ARRAY['NEWBIE'::character varying, 'LEARNER'::character varying, 'CONTRIBUTOR'::character varying, 'SOLVER'::character varying, 'EXPERT'::character varying, 'SENIOR_EXPERT'::character varying, 'MASTER'::character varying, 'LEGEND'::character varying])::text[]))),
    CONSTRAINT users_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'ACTIVE'::character varying, 'VERIFIED'::character varying, 'LOCKED'::character varying])::text[])))
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: elo_history elo_history_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.elo_history
    ADD CONSTRAINT elo_history_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: roles roles_role_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_role_name_key UNIQUE (role_name);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: elo_history fklw2ymy6oaspi5vofqgxbywvvd; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.elo_history
    ADD CONSTRAINT fklw2ymy6oaspi5vofqgxbywvvd FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: users fkp56c1712k691lhsyewcssf40f; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fkp56c1712k691lhsyewcssf40f FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- PostgreSQL database dump complete
--

\unrestrict HLHw3eeLPJAopJXNK4zcgQh4L5q9nflK3UWGCNVe1QUcw0CHqH9fGNZjzpbg0AP

